<!DOCTYPE html>
<html>
<head>
	<title>
		Characters
	</title>

	<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- incluindo css -->
	<link href="css/bootstrap.css" rel="stylesheet">

	<script>
		$(document).ready( function(){
			$('#btn_sair').click(function(){
				window.location.href = '/sair';
			});
		});

		$('#add_char').click(function(){
			$.ajax({
				url: '/addCharacter',
				method: "get",
				success: function(data){
					$('#acoes').html(data);
				}
			});
		});
	</script>

</head>
<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<strong><%%></strong>
			<div class="form-group sair">
				<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
			</div>
		</div>
	</nav>

	<!-- Characters -->
	<div class="jumbotron">
	  <h1 class="display-3">Characters</h1>
	  <p class="lead">Adicione um character aqui</p>
	  <hr class="my-4">
	  <span class="badge badge-pill badge-success" id="add_char">+</span>
	  <div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<div class="acoes" id="acoes">Add character</div>					
			</div>
		</div>

		<!-- Validação -->
		<% if(validacao.length>0){ %>
			<div class="alert alert-danger">
				<strong>Atenção!</strong>
				<ul>
					<% for(var i=0; i<validacao.length; i++){ %>
						<li><%= validacao[i].msg %></li>
					<% } %>
				</ul>
			</div>
		<% } %>

		<form class="form-inline form-entrar" action="/adicionarCharacter" method="post" >
				<div class="form-group">
				<input type="text" name="nome" id="nome" placeholder="Nome" class="form-control" autocomplete="off" />
				<input type="text" name="vocacao" id="vocacao" placeholder="Vocação" class="form-control" style="margin-left: 15px"/>
				<input type="text" name="mundo" id="mundo" placeholder="Mundo" class="form-control" style="margin-left: 15px"/>
				<button type="submit" class="btn btn-info"style="margin-left: 10px">Adicionar</button>
			</div>
		</form>

	</div>

</body>
</html>