<!DOCTYPE html>
<html>
<head>
	<title>
		Characters
	</title>

	Exibir characters

	<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- incluindo css -->
	<link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>



</body>
</html>