<!DOCTYPE html>
<html>
<head>
	<title>
		Home
	</title>

	<!-- incluindo css -->
	<link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>
	<h1>Bem vindo a Home do Tibia Task Manager!</h1>

	<% if(validacao.length>0){ %>
				<div class="alert alert-danger">
					<strong>Atenção!</strong>
					<ul>
						<% for(var i=0; i<validacao.length; i++){ %>
							<li><%= validacao[i].msg%></li>
						<% } %>
					</ul>
				</div>
			<%}%>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">

			<form class="form-inline form-entrar" action="/autenticar" method="post" >
				<div class="form-group">
					<input type="text" name="usuario" id="usuario" placeholder="Usuário" class="form-control" autocomplete="off" style="margin-left: -85px" />
					<input type="password" name="senha" id="senha" placeholder="Senha" class="form-control" style="margin-left: 15px" />
					<button type="submit" class="btn btn-success" style="margin-left: 10px">Entrar</button>
					<!-- <button type="button" class="btn btn-info">Cadastro</button> -->
					<a href="/cadastro" style="margin-left: 10px">Cadastrar</a>
				</div>
			</form>
		</div>

		<br />
			
	</nav>

	<div class="jumbotron" style="display: inline-block;">
	  <h1 class="display-3">Bem vindo ao Tibia Task Manager!</h1>
	  <p class="lead">O Tibia Task Maneger é uma ferramenta que tem como objetivo oferecer uma forma
	  de gerenciar as suas tasks de maneira mais fácil. Comece a usar agora e para de se perder ao procurar uma task no seu questlog!</p>
	  <hr class="my-4">
	  <p>Comece a usar agora! Basta seguir esses passos:</p>

	  	<div id="container_passos">
	  		<div id="box1" class="box">
			    <div class="card border-info mb-3" style="max-width: 20rem;">
				  <div class="card-header">Cadastre-se!</div>
				  <div class="card-body text-info">
				    <h4 class="card-title">Comece criando sua conta</h4>
				    <p class="card-text">Clique no botão cadastrar no menu acima e comece a gerenciar suas tasks.</p>
				  </div>
				</div>
			</div>

			<div id="box2" class="box">
				<div class="card border-info mb-3" style="max-width: 20rem;">
				  <div class="card-header">Cadastre-se!</div>
				  <div class="card-body text-info">
				    <h4 class="card-title">Comece criando sua conta</h4>
				    <p class="card-text">Clique no botão cadastrar no menu acima e comece a gerenciar suas tasks.</p>
				  </div>
				</div>
			</div>

			<div id="box3" class="box">
				<div class="card border-info mb-3" style="max-width: 20rem;">
				  <div class="card-header">Cadastre-se!</div>
				  <div class="card-body text-info">
				    <h4 class="card-title">Comece criando sua conta</h4>
				    <p class="card-text">Clique no botão cadastrar no menu acima e comece a gerenciar suas tasks.</p>
				  </div>
				</div>
			</div>

		</div>

	</div>

</body>
</html>