<!DOCTYPE html>
<html>
<head>
	<title>
		Home
	</title>

	<!-- incluindo css -->
	<link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>
	<h1>Bem vindo a Home do Tibia Task Manager!</h1>
</body>
</html>